<div id="<%= dom_id shop %>">
  <p>
    <strong>Name:</strong>
    <%= shop.name %>
  </p>

  <p>
    <strong>Details:</strong>
    <%= shop.details %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= shop.price %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= shop.quantity %>
  </p>

</div>
